{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Asociar Operaciones</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Asocie sus operaciones</h1>

       <form action="/evento/nuevo" method = "post">
    
        <div>
        <br>
        <h4>Asocie su egreso a un o varios Ingresos</h4>
	        <label>Egresos</label>
	        <select class="form-control" name="Egreso">
	          {{#each egreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un egreso</small>
      	</div>
      	
      	<div>
	        <label>Ingresos</label>
	        <select class="form-control" name="ingresos">
	          {{#each ingreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione uno o mas ingresos que desee asociar</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
      
       <form action="/evento/nuevo" method = "post">
    <br><br>
        <div>
        <h4>Asocie un ingreso a uno o varios egresos</h4>
	        <label>Ingreso</label>
	        <select class="form-control" name="Ingreso">
	          {{#each ingreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un ingreso</small>
      	</div>
      	
      	<div>
	        <label>Egresos</label>
	        <select class="form-control" name="Egreso">
	          {{#each egreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione uno o mas egresos que desee asociar</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

