{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Auditoria</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Bitacora</h1>
      							
	<br>

      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Director</th>
      <th scope="col">Monto</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Proyecto 1</td>
      <td>Ingreso mensual</td>
      <td>Jon Snow</td>
      <td>300</td>
      <td>Comprar ropa negra para la Guardia</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Proyecto 2</td>
      <td>Ingreso mensual</td>
      <td>Harry Potter</td>
      <td>25</td>
      <td>Comprar pelos de unicornio</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Proyecto 3</td>
      <td>Ingreso mensual</td>
      <td>Jonas Kahnwald</td>
      <td>1</td>
      <td>Maquina del tiempo</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Proyecto 4</td>
      <td>Ingreso mensual</td>
      <td>Grupo 8</td>
      <td>5</td>
      <td>Titulos truchos de ingenieria</td>
    </tr>
  </tbody>
</table>
									
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}


