{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Bandeja de Mensajes </li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Bandeja de Mensajes</h1>
      	{{#each this}}
      		<div class="card w-75">
      			 <div class="card-body">
      			 	 <h5 class="card-title">{{this.asuntoMensaje}}</h5>
      			 	  <p class="card-text">{{this.textoMensaje}}</p>
      			 	  <h6 class="card-title">
      			 	  	{{#if leido}}
						  Leido
						{{else}}
						  No Leido
						{{/if}}
      			 	  </h6>
      			 	  <a href="#" class="btn btn-primary">Leer</a>	 	      
			 	 </div>
			</div>
      	{{/each}}
        <br>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

