{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Bandeja de Mensajes</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Bandeja de Mensajes</h1>

      <div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Asunto 111</h5>
    <p class="card-text">Cumple con cantidad de presupuestos requeridos.</p>
    <h6 class="card-title">No leido</h6>
    <a href="#" class="btn btn-primary">Leer</a>
  </div>
</div>

        <br>
      

      <div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Asunto 222</h5>
    <p class="card-text">Cumple con haber sido realizada en base a algun presupuesto.</p>
    <h6 class="card-title">Leido</h6>
    <a href="#" class="btn btn-primary">Leer</a>
  </div>
</div>
        
        <br>


      <div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Asunto 333</h5>
    <p class="card-text">Cumple con haberse realizado en base al presupuesto de menor valor.</p>
    <h6 class="card-title">No leido</h6>
    <a href="#" class="btn btn-primary">Leer</a>
  </div>
</div>
<br>

    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

