{{#partial "titulo"}}
	GeSoc
{{/partial}}

{{#partial "contenido"}}
	<center><img src="/imagenHomeGesoc.png" alt="imagenGesoc" height="500px" width="700px"></img></center>
	<br>
	<center><h1>¡Bienvenido a GeSoc!</h1></center>
	
{{/partial}}
	
{{>layout.hbs}}