<!DOCTYPE html>
<html lang="en">
	<head>
		<title>GeSoc</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>{{#block "titulo"}}{{/block}}</title>
		{{#block "scripts"}}{{/block}}
		<link href="/css/simple-sidebar.css" rel="stylesheet">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link rel="stylesheet" href="../../main.css">
	    
	    
		<!-- Bootstrap core JavaScript -->
		<script src="/js/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	</head>

	<body>
		<div id="wrapper" class="toggled">

			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						<a href="/">
							<img src = "/home.png" alt="home" width=64px height=64px align="left"/>
						</a>
						<font color="#FA0721" size=15px><b>G</b></font>
						<font color="#FA0721" size=15px><b>E</b></font>
						<font color="#FA0721" size=15px><b>S</b></font>
						<font color="#FA0721" size=15px><b>O</b></font>
						<font color="#FA0721" size=15px><b>C</b></font>
					</li>
					<br>
					<li>
						<a href="/operacionesEgreso">Alta Op. Egreso</a>
					</li>
					<li>
						<a href="/operacionesIngreso">Alta Op. Ingreso</a>
					</li>
					<li>
						<a href="/proyecto">Alta Proyecto</a>
					</li>
					<li>
						<a href="/visualizador">Visualizar operaciones</a>
					</li>
					<li>
						<a href="/asociar">Asociar operaciones</a>
					</li>
					<li>
						<a href="/clasificador">Clasificador</a>
					</li>
					<li>
						<a href="/auditoria">Auditoria</a>
					</li>
					<li>
						<a href="/mensajes">Bandeja de mensajes</a>
					</li>
					<li>
						<div style="position:fixed; bottom:8px">
							<form action="/logout" method="post">
								<input type="submit" class="btn btn-danger" value="Cerrar sesión">
							</form>
						</div>
					</li> 
					
					{{#block "items_sidebar"}}
					{{/block}}
				   
				</ul>
			</div>

			<!-- Page Content -->
			<div id="page-content-wrapper">
				<div class="container">
					{{#block "contenido"}}
					{{/block}}
				</div>
			</div>
		</div>
	</body>
</html>
{{#block "script"}}
{{/block}}
